.__ethpay_button {
  height: 36px;
  min-width: 108px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 24px;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PingFang SC", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  transition: all 0.5s;
}
.__ethpay_button .caption {
  font-weight: 600;
  font-size: 15px;
  margin-right: 4px;
}
.__ethpay_button .value {
  font-size: 16px;
  margin-right: 2px;
}
.__ethpay_button .icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 0 3px;
}
.__ethpay_button .icon svg {
  height: 20px;
}
.__ethpay_button .icon svg .__ethpay_symbol,
.__ethpay_button .icon svg circle,
.__ethpay_button .icon svg polygon,
.__ethpay_button .icon svg path {
  transition: all 0.3s;
}
.__ethpay_button span {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
}

.__ethpay_button:hover {
  opacity: 0.6;
}

.__ethpay_button:active,
.__ethpay_button.dark {
  color: white !important;
  background: black;
  border-color: black !important;
}
.__ethpay_button:active span,
.__ethpay_button.dark span {
  color: white !important;
}
.__ethpay_button:active svg circle,
.__ethpay_button:active svg polygon,
.__ethpay_button:active svg path,
.__ethpay_button.dark svg circle,
.__ethpay_button.dark svg polygon,
.__ethpay_button.dark svg path {
  fill: white !important;
}
.__ethpay_button:active svg .__ethpay_symbol,
.__ethpay_button.dark svg .__ethpay_symbol {
  fill: black !important;
}

.__ethpay_button:disabled {
  cursor: not-allowed;
  color: #aaa !important;
  border-color: #aaa !important;
  opacity: 1 !important;
}
.__ethpay_button:disabled svg {
  filter: grayscale(100%);
}
.__ethpay_button:disabled svg circle,
.__ethpay_button:disabled svg polygon,
.__ethpay_button:disabled svg path {
  filter: grayscale(100%);
}
.__ethpay_button:disabled svg .__ethpay_symbol {
  filter: grayscale(100%);
}

.__ethpay_tooltip {
  font-size: 12px;
}